body {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
}

div #logo {
    position: relative;
    top: 0em;
    left: 0em;
    width: 3em;
    height: 3em;
    border: solid black;
}

img,
#logo {
    width: 3em;
    height: 3em;
}

div,
#nav-bar {
    position: absolute;
    top: 0em;
    left: 2em;
    color: black;
    font-size: 25px;
}